ul li::after {
    content: ' - ';
    color: white;
    background-color: darkgreen;
}

ul li::before {
    content: ' - ';
    color: white;
    background-color: darkmagenta;
}

p {
    font-size: 24px;
}

p::first-letter {
    font-size: 150px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line {
    background-color: red;
}

p::selection {
    background-color: black;
    color: white;
}

::placeholder {
    color: pink;
}

.form-field::placeholder {
    color: blue;
}